.hero-section {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 0 3rem; */
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.hero-title {
  font-size: 2.25rem;
  font-weight: 200;
  /* margin-bottom: 1rem; */
  font-family: "Montserrat", sans-serif;
}

.hero-subtitles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  font-family: "Outfit", sans-serif;
}

.hero-subtitle {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

.hero-subtitle.confort {
  font-size: 8rem;
  font-weight: 900;
}

.hero-subtitle.sale {
  font-size: 22rem;
  font-weight: 900;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 3.75rem;
  }

  .hero-subtitle.confort {
    font-size: 8rem;
  }

  .hero-subtitle.sale {
    font-size: 22rem;
  }
}
