/* Hero.css */

.hero-section {
  background-color: #2563eb; /* bg-blue-600 */
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  padding: 0 1rem; /* px-4 */
}

.hero-title {
  font-size: 2.25rem; /* text-4xl */
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.125rem; /* text-lg */
}

/* Responsivo */
@media (min-width: 768px) {
  .hero-title {
    font-size: 3.75rem; /* md:text-6xl */
  }

  .hero-subtitle {
    font-size: 1.25rem; /* md:text-xl */
  }
}
