.hero-section {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.hero-title {
  font-size: 2.25rem;
  font-weight: 200;
  font-family: var(--font-secondary);
}

.hero-subtitles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  font-family: var(--font-secondary);
}

.hero-subtitle {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

.hero-subtitle.confort {
  font-size: 8rem;
  font-weight: 900;
}

.hero-subtitle.sale {
  font-size: 22rem;
  font-weight: 900;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 3.75rem;
  }

  .hero-subtitle.confort {
    font-size: 8rem;
  }

  .hero-subtitle.sale {
    font-size: 22rem;
  }
}

.hero-right {
  align-self: flex-end;
  text-align: right;
  font-family: var(--font-secondary);
}
.hero-inner {
  width: 100%;
}

@media (max-width: 768px) {
  .hero-left {
    flex: 1;
    padding-top: 2.5rem;
  }

  .hero-right {
    flex: 1;
    align-self: flex-end;
  }

  .hero-title {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  .hero-subtitle.confort {
    font-size: 3rem;
    margin-right: 0.5rem;
  }

  .hero-subtitle.sale {
    font-size: 6.5rem;
    margin-right: 0.5rem;
  }
  .hero-inner {
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle.confort {
    font-size: 4.5rem;
  }

  .hero-subtitle.sale {
    font-size: 11rem;
  }
}
