@font-face {
  font-family: "SizebayIcons";
  src: url("https://static.sizebay.technology/font/stores/fontRuler/fonts/untitled-font-3.woff");
}

.vfr-btns-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: max-content;
}

.vfr-btn,
.chart-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-family: inherit;
  display: flex;
  align-items: center;
  position: relative;
  color: #333;
  transition: color 0.3s ease;
}

.vfr-btn::after,
.chart-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: #333;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.vfr-btn:hover,
.chart-btn:hover {
  color: #000;
}

.vfr-btn:hover::after,
.chart-btn:hover::after {
  transform: scaleX(1);
}

.vfr-btn .icon,
.chart-btn .icon {
  font-family: "SizebayIcons";
  font-size: 19px;
  margin-right: 5px;
  display: inline-block;
  margin-top: 1px;
}
.chart-btn .icon {
  margin-top: 4px;
}

.vfr-btn .icon::before {
  content: "\61";
}

.vfr-btn.shoe .icon::before {
  display: none;
}
.vfr-btn.shoe .icon {
  font-family: inherit; /* remove ícone da fonte */
  background-image: url("/assets/shoeIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  content: "";
  display: inline-block;
}

.chart-btn .icon::before {
  content: "\62";
}

/* BACKDROP COM MODAL CENTRALIZADO E FIXO */
.vfr__container--backdrop {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0;
  z-index: 99999;
}

/* MODAL CENTRALIZADO COM POSITION FIXED */
.vfr__container--backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.vfr-app {
  width: 90%;
  max-width: 948px;
  height: 548px;
  background: transparent;
  box-shadow: none !important;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.modal-close-btn {
  position: absolute;
  top: 2.2rem;
  right: 0rem;
  width: 40px;
  height: 55px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: transparent;
  z-index: 10000;
}

@media (max-width: 768px) {
  .modal-close-btn {
    top: 1.2rem;
    right: 1rem;
    width: 30px;
    height: 30px;
  }

  .vfr-app {
    width: 100%;
    height: 100%;
  }
}
